

.navbar-brand {
    position: absolute;
    align-items: center;
    display: flex;
    justify-content:center;
    height: 100px;
    width: 100%;
    font-weight: bold;
    background-color: red;
}



footer{
    background-color: red;
    color:white;
    text-align: center;
    height: 17%;
    width: 100%;
    bottom: 0px;
    position: absolute;
   
    
}

.img-container{
    border: solid 1px black;
    margin-top: 3%;
    margin-left: 10%;
    margin-right: 20%;
    margin-bottom: 2%;
    
    
    

}

img{
    
    padding: 2%; /*tenga eapcio desde adentro*/
    
}


#imagen{
    text-align: center;
    
}
button{
    font-size: 1.0em;
    font-weight: bold;
    background-color: rgb(235, 41, 41);
    padding: 10px 20px;   /*20 arriba y 40 a los costados.. tamaño del boton*/
    border: 1px solid rgb(0, 0, 3); 
    box-shadow: 2px 2px 18px rgb(0, 0, 5); /*agregar sombra*/
    color: white;
    
}
button:hover{
    background-color: rgb(243, 10, 10);
}
