.navbar-brand {
    position: absolute;
    align-items: center;
    display: flex;
    justify-content:center;
    height: 100px;
    width: 100%;
    font-weight: bold;
}



footer{
    background-color: blue;
    color:white;
    text-align: center;
    height: auto;
    width: 100%;
    bottom: 0px;
    position: absolute;
    
}

.img-container{
    border: solid 1px black;
    margin-top: 3%;
    margin-left: 10%;
    margin-right: 14%;
    margin-bottom: 2%;
    padding-left: 13%;
    
    

}

img{

    padding: 2%; /*tenga eapcio desde adentro*/
    
}

h4{font-size: 0,5 em;}
